.wrapper {
    margin: 5px; 
}

body {
    background-color: lightslategray;
    background-image: url(./assets/facade.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD187obzOt2O9J4ZAizrr3hYopjrvMV_a1vw&usqp=CAU);
    border: 2px inset rgb(66, 70, 71);
    box-shadow: 5px 5px 10px grey;
    padding: 5px 0 5px 29px;
    z-index: 2;
}

h1 {
    color: rgb(88, 88, 75);
    font-size: 80px;
    font-family: cursive;
    text-shadow: 2px 2px 5px rgb(22, 21, 21);
    letter-spacing: 5px;
    margin: auto;
}

#button {
    background-color: rgb(98, 109, 172);
    width: 300px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 650;
    font-size: xxx-large;
    text-shadow: 2px 2px rgb(156, 119, 92);
    border-bottom: 10px solid rgb(58, 58, 55);
    letter-spacing: 4px;
    color: rgb(213, 218, 228);
    position: fixed;
    float: right;
    right: 2%;
    top: 5%;
    /* overflow: auto; */
}

h2 {

    text-align: center;
    line-height: 100%;
    top: 200px;
    margin: 10% 0 1% 0;
}
/* a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
} */

a:link {
    color: rgb(142, 189, 151);
    text-decoration: none;
}
a:visited {color: rgb(206, 224, 224)}

a:hover {
    color: #0000EE;
}

/* a:link { color:#33348e; text-decoration: none; }
a:visited { color:#33348e; text-decoration: none; }
a:hover { color:#33348e; text-decoration: none; } */
/* a:active { color:#7476b4; text-decoration: underline; } */

#space {
    position: relative;
    top: 5%;
    margin: 5%;
}

footer {
    position: relative;
}

.w3-content {
    max-width: 1980px
}

.w3-auto {
    max-width: 2140px
}

.w3-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: .89
    }
    100% {
        opacity: 0
    }
}

.w3-section, .w3-code {
    margin-top: 10px!important;
    margin-bottom: 10px!important
}

#loc1 {
    position: sticky;
    left: 100px;
    top: 20%;
    width: 50%;
    bottom: 2500px;
}

#loc2 {
    position: relative;
    left: 8%;
    top: 100px;
    width: 50%;
    height: 50%;
    padding: 10px;
}

#loc3 {
    position: relative;
    left: 30%;
    top: 1px;
    bottom: 2500px;
    width: 50%;
    padding: 10px;
}

#loc4 {
    position: relative;
    left: 10%;
    top: 1px;
    bottom: 2500px;
    width: 50%;
    padding: 10px;
}

.sidebar {
    width: 400px;
    height: 900px;
    position: sticky;
    float: right;
    display: block;
    background: rgba(21, 48, 5, 0.562);
    padding: .7em 0.5em 2.0em .7em;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    line-height: 100%;
    color: rgb(125, 167, 161);
    margin: 6% 0;
    /* padding: 1px; */
    z-index: 1;
}
#color{
  font-style: oblique;
    font-size: medium;
    font-weight: 300;
}





.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}